deportes.css
	body{
		margin: 10;
		padding: 10px;
		background-color: #ded9de;
	}

	#periodico{
		width: 100%;
		height: 100%;
		background-color: #fff;
		box-shadow: 2px 2px 5px #888888;
	}

	* {
	color: rgb(11, 12, 11); /*Se aplicará a todos los elementos del documento.*/
 	}
  
	header{
		font-size: 125px;
		width: 100%;
		height: 150px;
		margin-bottom: 5px;
		background-color: #fe1a25;
		text-align: center;

	}		
	caption{
		font-size: 60px;
	}

	table{
		width: 100%;
		background-color: #FFFFFF;
	}		        

	table, th, td{
		border-collapse: collapse;
	}

	th, td{
		padding: 5px;
		vertical-align: top; /* Alinea el contenido en la parte superior */
	}

	::selection {
		background-color: #686868; /* Color de fondo cuando se selecciona texto */
		color: #00ccff; /* Color del texto cuando se selecciona */
	}

	nav{
		background-color: #fe1a25;
		text-align: center;
		padding: 10px;
	}

	nav a{
		text-decoration: none;
		color: #324151;
		padding: 10px 20px;
		display: inline-block;
	}

	nav a:hover{
		background-color: #9599a2;
	}

	button:active {
		background-color: #000000;
	}

	.limited-cell{
		width:  120px; 
		height: 90px; 
		overflow: hidden; 
	}

	.limited-cell img{
		width: 100%; 
		height: auto; 
	}	

	audio{
		width: 100%;
		height: 50%;
	}

	.limited-cell video{
		width: 100%;
	}			

	footer{
		background-color: #fe1a25;
		color: #fff;
		text-align: center;
		padding: 10px;
	}
