
body {
    background-color: #ded9de;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    margin: 0;   
}

#formulario-container {
   
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 80px;
    border-radius: 5px;
    background-color: #8fb2bf;
}
        form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin-bottom: 1px;
}

label {
    padding-right: 10px;
}

.estilo-label {
font-weight: bold;
font-size: 18px;
} 
.estilo-label2 {
font-weight: bold;
font-size: 13px;
}
.estilo-label3 {
font-weight: bold;
font-size: 15px;
}
.titulo {
    font-weight: bold;
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0; 
    }
                
.titulo2 {
    font-weight: bold;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin: 0; 
    }
