
body {
			background-color: #ded9de;
        }
			.container {
            display: flex;
			text-align: center;
			font-family: 'luminari';
			color: white;
			font-size: 2em;
			
		}
			.container2 {
            display: flex;
			justify-content: center;
			text-align: center;
        }
			.titulo {
			font-size: 125px;
            width: 100%;
            height: 150px;
            margin: 10px;
            background-color: #0093FF;
			text-align: center;
			
        }
			.titulo2 {
			font-size: 50px;
            width: 40%;
            height: 70px;
            margin: 10px;
            background-color: #0093FF;
			text-align: center;
			

        }
			table {
			width: 100%;
			margin: 10px;
		}
			caption{
			font-size: 60px;
			}
			footer {
			text-align: center;
			margin: 10px;
            background-color: #0093FF;
		}

			form {
			padding: 5px;
			
		}
			abbr {
		  font-style: italic;
		  color: chocolate;
		}
		.menu1 {
			background-color: #333;
			padding: 40px 0;
			font-size: 30px;
            width: 100%;
            height: 10px;
            margin: 0px;
			text-align: center;
			font-family: 'helvetica';
			
		  }

		.menu {
			background-color: #333;
			padding: 10px 0;
		  }
		  
		  nav {
			text-align: center;
		  }
		  
		  nav a {
			text-decoration: none;
			color: #fff;
			padding: 10px 15px;
			margin: 0 5px;
			border-radius: 5px;
			transition: background-color 0.3s ease;
		  }
		  
		  nav a:hover {
			background-color: #555;
		  }
		 
		  h1 {
			color: black;
		  }
		 
		  h2 {
			color: black;
		  }

		  h3 {
			color: black;
		  }

		  p {
			color: rgba(0, 0, 0, 0.884);
		  }